/* Esto obliga a que cada imagen tenga un tamaño visible sí o sí */
:host {
  display: block;
  border: 5px solid red !important; /* Veremos un marco rojo */
  margin: 10px;
  min-height: 200px;
  min-width: 200px;
  background-color: yellow; /* Fondo amarillo para que resalte */
}

img {
  display: block !important;
  width: 100% !important;
  height: auto !important;
  min-height: 100px;
}